body{
  font-family: Arial, sans-serif;
  padding: 20px;
  background: #f5f5f5;
}

h2{
  margin-top: 20px;
}

input, select{
  padding: 6px;
  margin-right: 5px;
}

button{
  padding: 6px 10px;
  cursor: pointer;
}

table{
  border-collapse: collapse;
  width: 60%;
  background: white;
  margin-top: 10px;
}

th{
  background: #eee;
}

th, td{
  border: 1px solid #999;
  padding: 8px;
  text-align: left;
}

hr{
  margin: 20px 0;
}

button{
  background: #1976d2;
  color: white;
  border: none;
}

button:hover{
  background: #125aa0;
}
